.duration {
    padding: 10rem 2rem;
   p {
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-left: .4rem solid #5bb8c9;
   }
}
