/*
    COLORS: 
        font-color: #33475
        orange-color: #ff7a59
        link-color: #0091ae
        blue-color: #337ab7
        dark-blue: #203856
    FONT-FAMILY: 
    ETC.
*/

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

:root {
    --dark-blue: #203856;
    --font-color: #334755;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', Verdana, sans-serif;
}

