.header {

    position: relative;
    padding: 4rem 2rem 0;
    height: 100vh;
    backface-visibility: hidden;

    h1 {
        font-size: 5.5rem;
        text-transform: capitalize;
        font-weight: 100;
        color: #5bb8c9;
        margin: 2rem auto 2rem;
        line-height: 1;
    }


    h3 {
        font-size: 1.7rem;
        font-weight: 100;
        line-height: 1.4;
        margin-left: auto;
        width: 50%;
        margin-right: -2rem;
        background: rgba(248, 248, 248, 0.6);
        padding: 1.5rem;
        min-height: 30vh;
        box-shadow: 0 .4rem 1.6rem rgba(0, 0, 0, 0.1);
    }

    span.bold {
        font-weight: 400;
        color: #4c99a7;
        text-transform: uppercase;
    }

    &__img-box {
        position: absolute;
        bottom: -3rem;
        left: -2rem;
        z-index: -11;
    }
}

.introduction {
    font-size: 2.2rem;
    background: #eee;
    padding: 4rem 2rem;
    line-height: 1.4;
    color: #000;

    p {
        margin: 4rem 0;
        padding: 0 3.4rem;
        position: relative;
        &::before,
        &::after {
            content: '';
            position: absolute; 
            width: 1.5rem; height: 1.5rem;
            top: calc(50% - .5rem); left: 0;
            display: block;
        }
        &::before { 
            background: #4c99a7;
        }
        &::after {
            left: .5rem;
            top: calc(50%);
            border: .05rem solid #4c99a7;
        }
    }
}

.features {
    font-size: 2.4rem;
    background: #eee;
    padding: 4rem 2rem;
    line-height: 1.4;
    color: #000;

    h2 {
        font-size: 4rem;
        font-weight: 100;
        padding: 1rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 6rem;
        border-left: .4rem solid #5bb8c9;
    }

    .item-logo {
        width: 12rem;
        background: rgba(91, 184, 201, 0.478);
        border-radius: 50%;
         img {
             width: 100%;
            display: block;
         }
    }
    
    .item-list {
        list-style: none;
        position: relative;
        z-index: 2;

        .item {
            padding: 0 4rem;
            opacity: 0;
            transform: translateY(4rem);
            transition: .8s ease-in-out;

            &.item-appear {
                opacity: 1;
                transform: translateY(0);
            }
            &:not(:last-of-type) {
                margin-bottom: 6rem;
            }
            &__title {
                background: none;
                font-size: 2.4rem;
                font-weight: 100;
                color: #5bb8c9;
                margin: 1rem 0;
            }
            &__desc {
                font-size: 2rem;
            }
        }
    }
}

.order {
    padding: 0 2rem;
    margin: 8rem 0;
    h2 {
        font-size: 4rem;
        font-weight: 100;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        margin: 10rem auto;
        padding: 1rem;
        border-left: .4rem solid #5bb8c9;
    }

}

.duration {
    padding: 8rem 2rem;
    margin: 10rem 0 0;
    background: #eee;

    p {
        font-size: 2rem;
        padding: 2rem;
        text-align: center;
        background: rgba(76, 153, 167, 0.801);
        border-radius: .6rem;
        position: relative;
        color: #fff;
        line-height: 1.4;
        width: 90%;
        margin: 0 auto;

        &::before {
            content: "";
            position: absolute;
            bottom: -25%; left: 50%;
            width: 80%;
            display: block;
            height: 1rem;
            background: rgba(204, 204, 204, 0.623);
            border-radius: 50%;
            transform: translateX(-50%);
            filter: blur(.2rem);
        }
    }
}

.pricing {
    
}